---
layout: default
---
<style>
    .images-holder {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .image-holder {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
    }

    .image-holder-outer {
        /* display: inline-block; */
        /* float: left; */
        /* width: 33%; */
    }

    .image-holder-outer::after {
        content: "";
        box-shadow: 0px 0px 10px 0px rgb(19, 19, 19);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        position: relative;
        z-index: -1;
        top: -100%;
        /* left: 50%; */
        display: block;
        width: 100%;
        height: 100%;
    }

    .image-holder-outer:hover::after {
        opacity: 1;
        /* box-shadow: 0px 0px 5px 0px rgb(19, 19, 19); */
    }

    .image {
        width: 200px;
        height: 200px;

        background-color: white;

        position: absolute;

        border-radius: 10%;
    }

    .image-name {
        position: absolute;
        background-color: #6a6e75;
        color: white;
        font-size: 20px;
        top: 25%;
        border-radius: 10%;
        padding: 0 2px 0 2px;
        white-space: nowrap;

    }

    .image-holder .image {
        transition: all 0.3s ease;

        vertical-align: middle;
    }

    .image-holder:hover .image {
        transform: scale(1.2);
    }

    #name1 {
        left: 10%;
    }

    #name2 {
        left: 32.5%;
    }

    #name3 {
        left: 23.9%;
    }

    #name4 {
        left: 18.2%;
    }

    #name5 {
        left: 36.9%;
    }

    #name6 {
        left: 14.2%;
    }

    .image-holder-inner {
        overflow: hidden;
    }

    .image-outer {
        display: flex;
        flex-direction: column;
        align-items: center;

        flex-basis: 33%;
    }

    .caption {
        /* float: left; */
        font-size: 12px;
        padding-bottom: 10px;
    }
</style>

<div class="home">
    <!-- {%- if page.title -%} -->
    <!-- <h1 class="page-heading">{{ page.title }}</h1> -->
    <!-- {%- endif -%} -->
    <h1 class="page-heading">Portfolio</h1>
    <div class="images-holder">
        <div class="image-outer">
            <a class="image-holder-outer" href="https://is-eurail-cheaper-git-main-innoviox.vercel.app/"
                target="_blank">
                <div class="image-holder">
                    <div class="image-holder-inner">
                        <img class="image" src="https://innoviox.github.io/img/iec.png"></img>
                    </div>
                    <span class="image-name" id="name1">Is Eurail Cheaper?</span>
                </div>
            </a>
            <span class="caption">
                React.js app to compare train prices.
            </span>
        </div>
        <div class="image-outer">
            <a class="image-holder-outer" href="https://quizdbmobile.technaplex.com/" target="_blank">
                <div class="image-holder">
                    <div class="image-holder-inner">
                        <img class="image" src="https://innoviox.github.io/img/quizdb.png"></img>
                    </div>
                    <span class="image-name" id="name2">QuizDB</span>
                </div>
            </a>
            <span class="caption">
                Swift app to test your trivia skills.
            </span>
        </div>
        <div class="image-outer">
            <a class="image-holder-outer" href="https://github.com/innoviox/gaddag-rust" target="_blank">
                <div class="image-holder">
                    <div class="image-holder-inner">
                        <img class="image" src="https://innoviox.github.io/img/gaddag.png"></img>
                    </div>
                    <span class="image-name" id="name3">Scrabble AI</span>
                </div>
            </a>
            <span class="caption">
                Rust library to play Scrabble.
            </span>
        </div>
    </div>
    <!-- <br> -->
    <div class="images-holder">
        <div class="image-outer">
            <a class="image-holder-outer" href="https://innoviox.github.io/mtg-analyzer/" target="_blank">
                <div class="image-holder">
                    <div class="image-holder-inner">
                        <img class="image" src="https://innoviox.github.io/img/mtganl.png"></img>
                    </div>
                    <span class="image-name" id="name4">MTG Analyzer</span>
                </div>
            </a>
            <span class="caption">
                Pandas notebook analyzing MTG cards.
            </span>
        </div>
        <div class="image-outer">
            <a class="image-holder-outer" href="https://github.com/Innoviox/jatch" target="_blank">
                <div class="image-holder">
                    <div class="image-holder-inner">
                        <img class="image" src="https://innoviox.github.io/img/jatch.png"></img>
                    </div>
                    <span class="image-name" id="name5">Jatch</span>
                </div>
            </a>
            <span class="caption">
                Java app to convert Scratch code.
            </span>
        </div>
        <div class="image-outer">
            <a class="image-holder-outer" href="https://github.com/Innoviox/chatgeau" target="_blank">
                <div class="image-holder">
                    <div class="image-holder-inner">
                        <img class="image" src="https://innoviox.github.io/img/chatg.png"></img>
                    </div>
                    <span class="image-name" id="name6">Chatgeau (WIP)</span>
                </div>
            </a>
            <span class="caption">
                Golang tower defense game.
            </span>
        </div>
    </div>

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p> -->
    {%- endif -%}
</div>