---
layout: default
---
<style>
    .images-holder {
        display: flex;
        flex-direction: row;
    }

    .image-holder {
        position: relative;
    }

    .image {
        width: 200px;
        height: 200px;

        background-color: white;

        /* position: absolute; */
    }

    .image-name {
        position: absolute;
        background-color: white;
        font-size: 20px;
    }
</style>

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div class="images-holder">
        <div class="image-holder">
            <img class="image" src="http://127.0.0.1:4000/img/iec.png"></img>
            <span class="image-name">Is Eurail Cheaper?</span>
        </div>
        <div class="image-holder">
            <img class="image" src="http://127.0.0.1:4000/img/quizdb.png"></img>
            <span class="image-name">QuizDB</span>
        </div>
        <div class="image-holder">
            <img class="image" src="http://127.0.0.1:4000/img/gaddag.png"></img>
            <span class="image-name">Gaddag</span>
        </div>
    </div>

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}
</div>